@model IEnumerable<EPrint.Models.User>

@{
    ViewBag.Title = "Lista de usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de usuarios</h2>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Correo
        </th>
        <th>
            Admin
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>        
    </tr>
}

</table>
